
.scwacpbm_content {
    width: 100%;
    display: inline-block;
}
.scwacpbm_profile {
    float: left;
    width: 100%;
}
.scwacpbm_profile_add {
    float: left;
    width: 100%;
    font-weight: bold;
    margin-bottom: 10px;
}
.scwacpbm_profile_choose {
    float: left;
}
.scwacpbm_profile_save {
    float: left;
    background: teal;
    color: #fff;
    width: 60px;
    text-align: center;
    height: 28px;
    line-height: 28px;
    margin-top: 1px;
    cursor: pointer;
}
.scwacpbm_content_body_booked {
    float: left;
    width: 100%;
    border-top: 2px solid #ccc;
    margin-top: 20px;
}
.scwacpbm_content_body_booked_header {
    float: left;
    width: 100%;
    font-weight: bold;
}
.scwacpbm_content_body_booked_item {
    float: left;
    width: 100%;
    margin-top: 5px;
}
.scwacpbm_content_body_booked_item_orderid {
    float: left;
}
.scwacpbm_content_body_booked_item_seats {
    float: left;
    margin-left: 30px;
}
.scwacpbm_content_body_booked_item_from {
    float: left;
    margin-left: 30px;
}
.scwacpbm_content_body_booked_item_to {
    float: left;
    margin-left: 30px;
}
.scwacpbm_content_body_booked_item_delete {
    float: left;
    margin-left: 30px;
    background: #981212;
    color: #fff;
    padding: 3px;
    cursor: pointer;
}
.scwacpbm_orders_item_name,
.scwacpbm_orders_item_address,
.scwacpbm_orders_item_email ,
.scwacpbm_orders_item_phone ,
.scwacpbm_orders_item_note ,
.scwacpbm_orders_item_total{
    float: left;
    margin-left: 20px;
}